<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Logat504.Properties.Settings.Logat504ConnectionString" connectionString="Data Source=(local);Initial Catalog=Logat504;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>